[Unit]
Description=Attempt to gracefully shutdown K8s pods prior to shutdown of the OS
After=kubelet.service network.target
#Before=shutdown.target reboot.target halt.target

[Service]
Type=oneshot
ExecStop=/root/scripts/k8s_node_offlinev2.sh
ExecStart=/root/scripts/k8s_node_online.sh
RemainAfterExit=yes
# allow 10 minutes for stopping Splunk and a 4 minute grace period
TimeoutStopSec=840

[Install]
WantedBy=multi-user.target
